<div class="password-page">
    <div class="form">
      <h1 class="text-shadow">Login</h1>
      <form [formGroup]="myForm" novalidate (ngSubmit)="submit()" class="login-form">
        <div class="alert-danger" *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
          Incorrect email
        </div>
        <input type="text" name="email" formControlName="email" placeholder="username" />
        <button type="submit">login</button>
        <p class="message">Not registered? <a href='register' routerLinkActive='active'>Create an account</a></p>
      </form>
    </div>
  </div>